*{
    margin: 0;
    padding: 0;  
}

.container{
    /* background-color: azure; */
    width: 100%;
}



.acordeon{
    width: 100%;
    padding: 1em
    
}

.acordeon .bloque{
    margin-top: 5px;
}
.acordeon .bloque__header{
    display: flex;
    background-color: #AAA;
    border-radius: .5em;
    padding: 1em;
}
.acordeon .bloque__content{
    background-color: #DDD;
    border-radius: 0 0 .5em .5em;
    padding: 0em;
    height: 0;
    color: #333;
    overflow: hidden;
}
.acordeon .bloque.activo .bloque__content{
    height: auto;
    padding: 1em;
}

