<div class="container">

    <div class="tools">

    </div>
    <div class="acordion">
        <div class="acordion__block" *ngFor="let book of books">
            <div class="block__header">
                <img class="header__cover" src={{urlcover}}{{book.myb_cover}} alt="portada" />
                <div class="header__texts">
                    <h2>{{book.myb_title}}</h2>
                    <h4>{{book.myb_author}}</h4>
                </div>
                <span class="material-icons icon--right">expand_more</span>
            </div>
            <div class="block__content">

                <section class="datos">
                    <div class="title">
                        <h2>{{book.myb_title}}</h2>
                        <a href="#">{{book.myb_author}}</a>
                    </div>
                    <hr>
                    <div class="detalles">
                        <div class="detleft">
                            <p>GENERO: {{book.myb_gender}}</p>
                            <p>FECHA LECTURA: {{book.myb_feclec}}</p>
                        </div>
                        <div class="detright">
                            <p>{{book.myb_pages}} páginas.</p>
                            <p>{{book.myb_hasmovie}}</p>
                            <p>{{book.myb_value}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="observaciones">
                        <div class="nota ">
                            <h3>SYNOPSIS</h3>
                            <p>sdf{{book.myb_synopsis}}</p>
                        </div>
                        <div class="nota ">
                            <h3>OBSERVACIONES</h3>
                            <p>rrrr{{book.myb_observ}}</p>
                        </div>
                    </div>
                </section>

                <aside class="aside">
                    <h4>PUBLICADO EN {{book.myb_fecpub}}</h4>
                    <img class="portada" src={{urlcover}}{{book.myb_cover}} alt="portada" />
                </aside>

            </div>
        </div>
    </div>

</div>