*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: #48e;
    
}
.tools{
    height: 3em;
}


/* ACORDEON DE LIBROS */

.acordion__block{
    cursor: pointer;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .3em;
    background-color: #DDD;
    color: #555;
    border-radius: .1em .5em .5em .1em; 
    box-shadow: 0 0 3px #333;  
}

.block__header{
    display: flex;   
}

.block__content{
    display: flex;
    padding: 0em;
    height: 0em;
    overflow: hidden;
    transition: all .2s ease ;
}

.acordion__block:active .block__content {   
    height: 30em;
    padding: 1em; 
}

.header__cover{
    height: 3.3em; 
    margin: .5em .5em;
    box-shadow: .2em .2em .1em #555;
}
.header__texts{
    width: 86%;
    padding: .1em;
    margin-left: 1em;
}

.header__texts h2{
    font-size: 2em;
}
.header__texts h4{
    font-size: 1.2em;
    font-style: italic;
}
.icon--right{
    width: 8%;
    padding-top: .4em;
    text-align: right;
    font-size: 2.2em;
    font-family: 'Material Icons';
    
}

/* CONTENIDO DEL ACORDEON */


/* .acordeon .block.activo .block__content{
    height: 34em;
    padding: 1em;
}
.acordeon .block.activo .block__header img{
    box-shadow: .2em .2em .2em #FFF;
} */

/* DATOS EN LA ZONA IZQUIERDA DE LA FICHA */
.block__content .datos{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 70%;
}

/* TITULO DENTRO DE LOS DATOS */
.title h2{
    font-size: 2.6em;
}
.title a{
    font-size: 2em;
    font-style: italic;
    margin-bottom: 1em;
}

.block__content .detalles{
    display:flex;
    flex-flow: row nowrap; 
    padding-bottom: .6em;
    padding-left: .6em;
    padding-right: .6em;
    font-size: 2em;
    font-style: italic;
    line-height: 1.4em;
}

.block__content .detalles .detleft{
    width: 60%;
}
.block__content .detalles .detright{
    text-align: end;
    width: 40%;
}

.block__content .observaciones{
    display:flex;
    flex-flow: row nowrap; 
    height: 40%; 
}

.observaciones .nota{
    width: 50%;
    height: 95%;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: .5em; 
    margin-right: .5em;
    border: 1px outset #333;
    box-shadow: 0 0 8px #333;
    background-color: #EEE;
    text-align: center;
    padding: .6em;
}


/* LATERAL CON PORTADA Y PUBLICACION */
.block__content .aside{
width: 30%;
text-align: right;
}
.block__content .aside img{
    box-shadow: 2px 2px 3px #333;
    height: 95%;
}


