<div class="container">

    <div class="tools">

    </div>
    <div class="acordion">
        <div class="acordion__block" *ngFor="let book of books">
            <div class="block">

                <img class="block__cover" src={{urlcover}}{{book.myb_cover}} alt="portada" />
                
                <div class="block__titles">
                    <h2 class="title">{{book.myb_title}}</h2>
                    <a class="author">{{book.myb_author}}</a>
                </div>
                <span class="material-icons icon--right">expand_more</span>
                
                
                <section class="content__detail">
                    
                    <p>PUBLICADO EN {{book.myb_fecpub}}</p>
                    <hr>
                    <p>FECHA DE LECTURA: {{book.myb_feclec}}</p>
                    <hr>
                    <p>GENERO: {{book.myb_gender}}</p>
                    <hr>
                    <p class="detail--right">{{book.myb_pages}} páginas.</p>
                    <hr>
                    <p class="detail--right">{{book.myb_hasmovie}}</p>
                    <hr>
                    <p class="detail--right">{{book.myb_value}}</p>
                    
                </section>
                
                <section class="nota synopsis ">
                    <h3 class="nota__title">SYNOPSIS</h3>
                    <p class="nota__text">sdf{{book.myb_synopsis}}</p>
                </section>
                
                <section class="nota observ">
                    <h3 class="nota__title">OBSERVACIONES</h3>
                    <p class="nota__text">rrrr{{book.myb_observ}}</p>
                </section>
                
            </div>
                
        </div>
    </div>

</div>