/* MENU SUPERIOR DE LA WEB */
.header{
    width: 100%;
    color: #FFF;
}

.header h1{
    text-align: center;
    font-size: 2.5em;
    padding-top: 1.6em;
    padding-bottom: 0.3em;
    text-shadow: 1px 1px 3px #333;
}
.navbar{
    background: #CCC;
    width: 100%;
    position: fixed; 
    box-shadow: 0 0 15px #555;
}
ul{
    padding: 5px;  
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 80%;
    max-width: 1100px;
    box-shadow: 0 0 10px #555;
}
.header li{
    padding: 10px;
}
.header li a{
    color: #222;
    padding: 10px 30px;
    font-size: 1.4rem;    
    border-radius: 4px;
    transition: all 300ms;
}

.header .actived{
    text-decoration-line: underline;
    background: #BBB;
    color: #45e;
}
.header a:hover{
    background: #333;
    color: #48e;
    text-decoration-line: underline;   
}