

/* ESTILOS GENERALES */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
   font-family: 'Josefin Sans', sans-serif;
   background: url('../img/pattern.png'); 
   background-attachment: fixed;
}

/* .container{
    outline: 1px solid #48e;
    width: 70%;
    height: 1000px;
    margin: 0 auto;
} */

/* MENU SUPERIOR DE LA WEB */
.header{
    width: 100%;
    outline: 1px solid #48e;
    position: fixed;
    color: #FFF;
}

.header h1{
    text-align: center;
    font-size: 2.5em;
    padding-top: 20px;
    text-shadow: 1px 1px 3px #333;
}
ul{
    display: flex;
    justify-content: space-around;
    background: blueviolet;
    padding: 10px;
}
.header li a{
    color: #DDD;
    
}
