<header class="header">

  <h1>Mis libros. ByJIM®2022</h1>
<div class="navbar">

  <ul>
    <li><a [routerLink]="['/home']" [routerLinkActive]="['actived']" >INICIO</a></li>
    <li><a [routerLink]="['/listbooks']" [routerLinkActive]="['actived']">LIBROS</a></li>
    <li><a [routerLink]="['/authors']" [routerLinkActive]="['actived']">AUTORES</a></li>
    <li><a [routerLink]="['/contact']" [routerLinkActive]="['actived']">CONTACTO</a></li>
  </ul>
</div>

</header>

<div class="container">
  <section id="section" class="section">
    <router-outlet></router-outlet>
  </section>

</div>