<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


<header class="header">

  <div class="navbar">
    
    <ul>
      <li><a [routerLink]="['/home']" [routerLinkActive]="['actived']" >INICIO</a></li>
      <li><a [routerLink]="['/listbooks']" [routerLinkActive]="['actived']">LIBROS</a></li>
      <li><a [routerLink]="['/authors']" [routerLinkActive]="['actived']">AUTORES</a></li>
      <li><a [routerLink]="['/contact']" [routerLinkActive]="['actived']">CONTACTO</a></li>
    </ul>
  </div>
  
  <h1>Mis libros. ByJIM®2022</h1>
</header>

<div class="container">
  <section id="section" class="section">
    <router-outlet></router-outlet>
  </section>

</div>