.acordion__block{
    
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .3em;
    background-color: #DDD;
    color: #555;
    box-shadow: 0 0 3px #333;  
    border-radius: .1em .5em .5em .1em; 
}



.block{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto 1fr 1fr 1fr;
    grid-template-areas: 
        "cover title title icon"
        "cover det1 det2 det3";
    padding: .1em;
    height: 4.3em;
    overflow: hidden;
    transition: all .2s;
}

.block__cover{
    cursor: pointer;
    grid-area: cover;
    height: 3.3em;  
    margin: .5em .5em;  
    box-shadow: .2em .2em .1em #555;
    transition: all .2s;
}
.block__titles{
    grid-area: title;      
    margin-left: 1em;
    margin-bottom: 1em;  
}

.title{
    font-size: 2em;
    padding-top: 0.4rem;
}
.author{
    font-size: 1.2em;
    font-style: italic;
}
.icon--right{
    cursor: pointer;
    grid-area: icon;
    padding-top: .2em;
    margin-right: .2em;
    text-align: right;
    font-size: 2.2em;
    font-family: 'Material Icons';   
}

/* CONTENIDO DEL ACORDEON */

.content__detail{
    grid-area: det1;
    padding: 1em;
    padding-bottom: .4em; 
    font-size: 1.2em;
    line-height: 1.5em;
}
.detail--right{
    text-align: right;
}
.synopsis{
    grid-area: det2; 
}
.observ{
    grid-area: det3; 
}
.nota{
    margin: .5em;  
    margin-right: .5em;
    border: 1px outset #333;
    box-shadow: 0 0 8px #333;
    background-color: #EEE;
    padding: .6em;
}
.nota__title{
    color: #CCC;
    text-align: center;
    text-shadow: 1px 1px 2px #111;
    text-decoration: underline;
    font-size: 1.4em;
}
.nota__text{
    margin: .8em;
    text-align: justify;
    text-indent: .5em;
    font-size: 1.2em;
}
.start{
    color: yellow;
    font-size: 1.3em;
    letter-spacing: -26px;
    margin-top: 10px;
    margin-right: 25px;
    
    text-shadow: 1px 1px 2px #111,
                 -2px -2px 4px #999,
                 0px 0px 5px #333;

}

.imgActive{
    height: 24.8em ;    
}

.active{
    height: 26em;
    padding: .1em;  
}