
.acordion{
    font-size: 1em;
}
.block{
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "cover title title title"
        "cover det1 det2 det3";
    padding: .1rem;
    height: 3.6rem;
    overflow: hidden;
    transition: all .2s;
}

.block__cover{
    outline: 1px solid #333;
    cursor: pointer;
    grid-area: cover;
    height: 3rem;  
    margin: .3rem .3rem;  
    box-shadow: .2rem .2rem .1rem #555;
    transition: all .2s;
}
.block__barup{
    grid-area: title;     
    display: flex;
    justify-content: space-between;
}
.block__info{
    margin-left: 1rem;
    margin-bottom: 1rem;  
}
.info__title{
    font-size: 1.6rem;
    padding-top: 0.4rem;
}
.info__author{
    font-size: 1rem;
    font-style: italic;
}
.icon{
    cursor: pointer;
    grid-area: icon;
    height: auto;
    padding-top: .2rem;
    margin-right: .2rem;
    text-align: right;
    font-size: 2.2rem;
    font-family: 'Material Icons';   
}

/* CONTENIDO DEL ACORDEON */

.content__detail{
    grid-area: det1;
    padding: 1em;
    padding-bottom: .4em; 
    font-size: 1rem;
    line-height: 1.5em;
}
.detail--right{
    text-align: right;
}
.synopsis{
    grid-area: det2; 
}
.observ{
    grid-area: det3; 
}
.nota{
    margin: .5rem;  
    margin-right: .5rem;
    border: 1px outset #555;
    box-shadow: .2rem .2rem .1rem #555;
    background-color: #EEE;
    padding: .6rem;
}
.nota__title{
    color: #CCC;
    text-align: center;
    text-shadow: 1px 1px 2px #111;
    text-decoration: underline;
    font-size: 1.2rem;
}
.nota__text{
    margin: .6rem;
    text-align: justify;
    text-indent: .5rem;
    font-size: 1.2rem;
}
.start{
    color: yellow;
    font-size: 1.8rem;
    letter-spacing: -1.9rem;
    margin-top: .8rem;
    margin-right: 1.8rem;
    
    text-shadow: .1rem .1rem .1rem #222;

}

.imgActive{
    height: 19rem ;    
}

.active{
    height: 20rem;
    padding: .1em;  
}